@model RetailClientApp.Models.ViewModel.CreateCutomerViewModel
@{
    ViewData["Title"] = "Create Customer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <form asp-action="Create" asp-controller="Customer" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="row">
                    <div class="col-6">
                        <div class="form-group">
                            <label asp-for="CustomerId" class="control-label"></label>
                            <input asp-for="CustomerId" class="form-control" />
                            <span asp-validation-for="CustomerId" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label asp-for="Name" class="control-label"></label>
                            <input asp-for="Name" class="form-control" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">

                        <div class="form-group">
                            <label asp-for="PANno" class="control-label"></label>
                            <input asp-for="PANno" class="form-control" />
                            <span asp-validation-for="PANno" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label asp-for="DOB" class="control-label"></label>
                            <input asp-for="DOB" class="form-control" />
                            <span asp-validation-for="DOB" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="form-group">
                            <label asp-for="Address" class="control-label"></label>
                            <input asp-for="Address" class="form-control" />
                            <span asp-validation-for="Address" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <a asp-action="Index" asp-controller="Customer" class="btn btn-danger float-right">Cancel</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
